<div class="container">
  <div class="row justify-content-center align-items-center">
      <div class="col-md-6 form-group">
          <form action="index.php" method="POST" class="form-group">
          <ul>
              <label class="col-s-3">First Name</label>
              <input type="text" name="fname" placeholder="First Name" class="form-control"><br>
          
              <label class="col-s-3">Last Name</label>
              <input type="text" name="lname" placeholder="Last Name" class="form-control"><br>
          
              <label class="col-s-3">E Mail</label>
              <input type="text" name="email" placeholder="E-mail" class="form-control"><br>
          
              <label class="col-s-3">Password</label>
              <input type="password" name="password1" placeholder="Password" class="form-control"><br>
          
              <label class="col-s-3">Retype Password</label>
              <input type="password" name="password2" placeholder="Password" class="form-control"><br>
                            
              <input type="submit" name="submit" value="Submit" class="btn btn-primary">
          </ul>
          </form>
      </div>
  </div>  
</div>
